* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.quiz-app {
  margin: 20px auto;
  width: 800px;
  background-color: #eee;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 , 0 , 0 , 0.1);
}
.quiz-app .quiz-info {
  display: flex;
  background-color: #FFF;
  padding: 20px;
  font-size: 20px;
}

.quiz-app .quiz-info .category {
  flex: 1;
}

.quiz-app .quiz-info .count {
  flex: 1;
  text-align: right;
}

.quiz-app .quiz-area {
  background-color: white;
  padding: 20px;
  margin-top: 15px;
}
.quiz-app .quiz-area h2 {
  margin: 0;
  font-size: 20px;
}

.quiz-app .answers-area {
  background-color: white;
  padding: 20px;
  margin-top: 15px;
}

.quiz-app .answers-area .answer {
  background-color: #f9f9f9;
  padding: 15px;
}

.quiz-app .answers-area .answer:not(:last-child) {
  border-bottom: 1px solid #DFDFDF;
}

.quiz-app .answers-area .answer input[type="Radio"]:checked + label {
  color: #0075ff;
}

.quiz-app .answers-area .answer label {
  cursor: pointer;
  font-weight: bold;
  color: #777;
  font-size: 14px;
  margin-left: 5px;
  position: relative;
  top: -1px;
}

.quiz-app .submit {
  background-color: #0075ff;
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin: 15px 0;
}
.quiz-app .submit:focus {
  outline: none;
}

.quiz-app .bullets {
  border-top: 1px solid #DFDFDF;
  background-color: white;
  display: flex;
  padding: 20px;
}

.quiz-app .bullets .spans {
  flex: 1;
  display: flex;
}

.quiz-app .bullets .spans span {
  width: 20px;
  height: 20px;
  background-color: #DDD;
  margin-right: 5px;
  border-radius: 50%;
}

.quiz-app .bullets .spans span.active {
  background-color: #0075ff;
}

.quiz-app .results {
  background-color: white;
  margin-top: 10px;
  padding: 20px;
  font-size: 18px;
}
.quiz-app .results span{
  font-weight: bold;
}

.quiz-app .results span.bad{
  color: #dc0a0a;
}
.quiz-app .results span.good{
  color: #009688;
}
.quiz-app .results span.perfect{
  color: #0075ff;
}